<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Stress Detection System using Machine Learning</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="static/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="static/css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="static/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="static/css/style.css">
    <style type="text/css">
        #pricing {
            background-image: url('static/images/back-3.jfif');
            background-size: cover;
            padding-top: 50px;
            height: 100%;
            width: 100%;
        }
    </style>

    
</head>

<body>

<section id="pricing" class="features-area " >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Stress Detection System</h3>
                        
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>Stress Graph</h5>
                            <br><br>
                            <p>
                                Different stress values at different time frames are displayed in graph the format
                            </p>
                        </div>
                        <!--<div class="pricing-header text-center">
                            <h5 class="sub-title">Basic</h5>
                            <p class="month"><span class="price">$ 199</span>/month</p>
                        </div>-->
                        <!--<div class="pricing-list">
                            <ul>
                                <li><i class="lni lni-check-mark-circle"></i> Carefully crafted components</li>
                                <li><i class="lni lni-check-mark-circle"></i> Amazing page examples</li>
                            </ul>
                        </div>-->
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="sgraph">Graph</a>
                        </div>    
                    </div> <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>
                                Stress Info Graph
                            </h5>
                            <br><br>
                            <p>
                                Here it displays the minimum , average and maximum stress values of the entire time frame.
                            </p>
                        </div>
                        
                        
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="analysesvalue">More Info</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>
                                Distance Graph
                            </h5>
                            <br><br>
                            <p>
                                This graph shows the displacement between eyebrows at different time frames
                            </p>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="showpointsgraph">Show graph</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>
                                Stressed or Not Stressed 
                            </h5>
                            <br><br>
                            <p>
                                This graph shows the percentage of stress and not stress
                            </p>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="sorns">More Info</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>
                                Suggestions
                            </h5>
                            <br><br>
                            <p>
                                Shows the suggestions to avoid based up on the stress values
                            </p>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="sugg">View</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <h5>
                                Back
                            </h5>
                            <br><br>
                            <p>
                                Click here to go to previous page
                            </p>
                            <br>
                        </div>
                        
                        
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="link">Click me</a>
                        </div>
                    </div> <!-- pricing style one -->
                </div>
                
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    </body>