<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Stress Detection System using Machine Learning</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="static/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="static/css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="static/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="static/css/style.css">
    <style type="text/css">
        body {
            background-color: rgb(131, 63, 50);
            padding: 20px; 
        }
    </style>

    
</head>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<body>

    <section id="pricing" class="features-area " >
      
        <div class="float-container">
             <!-- row -->    
            <div class="row justify-content-left">
                <div class="col-lg-5 col-md-7 col-sm-9 float-child">
                
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon">
                            <h5>
                                <p>  Suggestions to manage Average stress : </p>
                            </h5>
                            <br><br>
                            <ol type="1">
					<li>
						1.Put on some music and dance around. 
					</li>
                    <li>2.&ensp; Take your dog for a walk.

                    </li>
                    <li>3.&ensp; Walk or cycle to the grocery store.

                    </li>
                    <li>4.&ensp; Use the stairs at home or work rather than an elevator.

                    </li>
                    <li>5.&ensp; Park your car in the farthest spot in the lot and walk the rest of the way.

                    </li>
                    <li>6.&ensp; Pair up with an exercise partner and encourage each other as you work out.

                    </li>
                    <li>7.&ensp; Play ping-pong or an activity-based video game with your kids.

                    </li>

						</ol>
                        </div>
                        
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="main-btn rounded-one" href="graph">Previous Page</a>
                            </div>
                        
                </div> <!-- pricing style one -->
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="static/images/hello.jpg">

  <br><br><br>
                
             
                    
                
                
                


</body>






