<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Stress Detection System using Machine Learning</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="static/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="static/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="static/css/LineIcons.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="static/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="static/css/style.css">
    <style type="text/css">
        #pricing {
            
            padding: 20px;

            
        }
    </style>

    
</head>

<body>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<section id="pricing" class="features-area " >
        <div class="float-container">
             <!-- row -->
            <div class="row justify-content-left">
                
                <div class="col-lg-5 col-md-7 col-sm-9 float-child">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon">
                            <h5>
                                <p>  Suggestions to manage high stress : </p>
                            </h5>
                            <br><br>
                            <ol type="1">
					<li>
						<b>1.Set aside leisure time </b> Include rest and relaxation in your daily schedule. 
					</li>
					<li><b>2.Do something you enjoy every day.</b> Make time for leisure activities that bring you joy, whether it be stargazing, playing the piano, or working on your bike.</li>
					<li>
						<b>3.Take up a relaxation practice.</b> Relaxation techniques such as yoga, meditation, and deep breathing activate the body’s relaxation response, a state of restfulness that is the opposite of the fight or flight or mobilization stress response. 
					</li>
					<li><b>4.Eat a healthy diet.</b></li>
					<li><b>5.Get enough sleep.</b></li>
					<li><b>6.Spend time with your loved once in your free time.</b></li>

						</ol>
                        </div>
                        
                        
                        
                </div> <!-- pricing style one -->
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pricing-icon text-center">
                    <br><br>
                    <br>

                    <img src="static/images/highstress.jpg" align="middle">
                    
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                


                        <div class="pricing-icon text-center">
                            <br><br>
                            <br><br><br>
                            <br><br><br>
                            <br><br>

                        	<img src="static/images/images.jpg" align="middle">
                            
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        
                                <div class="pricing-btn rounded-buttons text-center">
                                    <a class="main-btn rounded-one" href="graph">Go back</a>
                                </div>
                            
                
                
                
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    </body>






